<h1>Invoice: <%= @invoice.id %></h1>

<p><strong>Customer Name: </strong><%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>

<p><strong>Status: </strong><%= @invoice.status %></p>
<%= form_with url: "/admin/invoices/#{@invoice.id}?invoice_id=#{@invoice.id}", method: :patch, local: true do |form| %>
    <%= form.radio_button :status, "completed", { checked: @invoice.status} %>
    <%= form.label :status_completed, "completed"  %>
    <%= form.radio_button :status, "cancelled" , :checked =>(@invoice.status == 0)%>
    <%= form.label :status_cancelled, "cancelled" %>
    <%= form.radio_button :status, "in progress", :checked => (@invoice.status == 1) %>
    <%= form.label :status_in_progress, "in progress"%>
    <%= form.submit "Update Invoice Status" %>
  <% end %>



<p><strong>Created at: </strong><%= @invoice.created_at.strftime("%A, %B %d, %Y")%></p>

<h3>Items</h3>
<% @invoice.invoice_items.each do |invoice_item| %>
<div class="item-<%=invoice_item.item.id%>">

  <p><strong>Item Name:</strong> <%=invoice_item.item.name%></p>
  <p><strong>Quantity:</strong> <%=invoice_item.quantity %></p>
  <p><strong>Sold For:</strong> $<%='%.02f' % (invoice_item.unit_price.to_f/100)%></p>
  <p><strong>Status:</strong> <%= invoice_item.status %></p>
  <br/>
</div>
<% end %>

<p><strong>Total Revenue: $<%= '%.2f' % @invoice.total_revenue%></p>
