<h1>My Discounts</h1>

<% @merchant.discounts.each_with_index do |dis, idx| %>
  <div class="discount-<%="#{dis.id}"%>">
    <p><%= idx + 1 %>. <%= "#{dis.percent_discount}% off #{dis.quantity} of the same item" %>
    <%= button_to "Details", "/merchants/#{@merchant.id}/discounts/#{dis.id}", method: :get %>
    <%= button_to "Delete", "/merchants/#{@merchant.id}/discounts/#{dis.id}", method: :delete %>
    </p>
  </div>
<% end %>

<%= link_to "Add New Discount", "/merchants/#{@merchant.id}/discounts/new"%>

<h4>Upcoming Holidays</h4>
<% @facade.holidays[0..2].each do |holiday| %>
<p><%= holiday.name %> : <%= holiday.readable_date %> </p>
<% end %>
