<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flash_message">
    <% flash.each do |type, message| %>
        <p><%= message %></p>
    <% end %>
  </div>
    <%= yield %>
    <br><br><br><br><br>
   <section id = "footer">
    <h3> Github Contributors</h3>
    <h4>Usernames:</h4>
     <% @repo_info.map do |hash| %>
        <p><%= hash[:login] %></p>
    <%end %>
</section>

  </body>
</html>
